<form action="/board/edit/<%= post.id %>" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" name="title" class="form-control" id="title" value="<%= post.title %>">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea name="content" class="form-control" id="content"><%= post.content %></textarea>
    </div>
    <button type="submit" class="btn btn-success">수정 완료</button>
</form>
