<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Editor</title>
    
    <!-- Entry CSS -->
    <link href="/js/entry/entry.css" rel="stylesheet" />
    
    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/preloadjs.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/soundjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <!-- Entry Script -->
    <script src="/js/entry/entry.js"></script>
</head>
<body>
    <div id="workspace"></div>
    
    <script>
        window.addEventListener('load', function() {
            Entry.init({
                type: 'workspace',
                container: 'workspace',
                projectFile: '<%= projectFile %>'
            });
            Entry.start();
        });
    </script>
</body>
</html>
