/* 컨테이너 정렬 */
.container-fluid {
  text-align: center;
}

/* 타이틀 스타일 */
h1 {
  font-size: 32px;
  font-weight: bold;
}
.chat-subtitle {
  font-size: 22px;
  color: #666;
}

/* 왼쪽 컨테이너 스타일 */
.direct-message {
  background: #333333;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
}

/* 오른쪽 업무 리스트 스타일 */
.task-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

/* 너구리 이미지 */
.naguri-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* 업무 리스트 카드 */
.task-card {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.task-name {
  font-weight: bold;
}
.progress-bar {
  height: 10px;
  width: 100px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.progress {
  height: 100%;
  background: #67950C;
}
.like-btn {
  background: transparent;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}
