/* main.css */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    min-height: 100vh;
}

.top-header {
    width: 100%;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    font-size: 1.5em; /* 제목 폰트 크기 조정 */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 15px;
    color: #495057; /* 짙은 회색 폰트 */
}

.search-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.search-box input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    outline: none;
}

.sidebar {
    width: 250px; /* 사이드바 너비 */
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #dee2e6;
    margin-top: 70px; /* 헤더 높이만큼 조정 */
    min-height: calc(100vh - 70px); /* 화면 하단까지 확장 */
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* 리스트가 남은 공간을 채우도록 */
}

.sidebar .menu-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #495057; /* 짙은 회색 폰트 */
    border-radius: 8px; /* 모서리를 둥글게 */
}

.sidebar .menu-item:hover {
    background-color: #e9ecef; /* 연한 회색 */
    color: #000;
}

.sidebar .sub-menu {
    display: none;
    margin-left: 15px; /* 하위 메뉴 들여쓰기 조정 */
}

.sidebar .sub-menu .menu-item {
    padding: 8px 10px; /* 하위 메뉴의 패딩 조정 */
}

.sidebar .menu-item.active .sub-menu {
    display: block;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 270px; /* 사이드바 너비 + 여백 */
    margin-top: 70px; /* 헤더 높이만큼 추가 */
}

#userEmail {
    text-align: left; /* 왼쪽 정렬 */
}

.arrow {
    margin-left: 10px;
}

.arrow-down::after {
    content: '▼';
}

.arrow-up::after {
    content: '▲';
}
