/* 기본 스타일 설정 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* 스크롤 숨김 */
}

/* 메인 콘텐츠 컨테이너 */
.main-content {
    display: flex;
    height: calc(100vh - 60px); /* 헤더 높이를 고려한 콘텐츠 높이 조정 */
}

/* 네비게이션 (메뉴) 컨테이너 */
.nav-container {
    flex: 0 0 300px;
    overflow-y: auto; /* 세로 스크롤 허용 */
}

/* 콘텐츠 컨테이너 */
.content-container {
    display: flex;
    flex: 1;
    margin-left: 200px;
    height: 100%; /* 부모 컨테이너가 전체 높이를 차지하도록 설정 */
    overflow: hidden; /* 스크롤 방지 */
}

/* 아이프레임 및 IDE 컨테이너 */
.iframe-container, .ide-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%; /* 높이를 100%로 설정하여 페이지 전체 차지 */
    overflow-y: auto; /* 세로 스크롤 허용 */
    overflow-x: hidden; /* 가로 스크롤 방지 */
}

/* 아이프레임 내부 콘텐츠 */
#iframeContent {
    width: 100%;
    height: 100%; /* 100%로 변경 */
    border: none;
}

/* 이미지 크기 조정 */
#iframeContent img {
    max-width: 100%; /* 이미지가 콘텐츠의 너비를 넘지 않도록 제한 */
    height: auto; /* 비율을 유지하면서 자동으로 높이 조정 */
}

/* 문제 컨테이너 스타일 */
#problem-container {
    height: calc(100% - 60px); /* 네비게이션과 제목의 높이를 고려하여 조정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 허용 */
}

/* IDE 컨테이너 스타일 */
.ide-container {
    background-color: #2d2d2d; /* 배경 색상 */
    color: white; /* 텍스트 색상 */
}

.ide-container textarea {
    width: 100%;
    flex: 1;
    background-color: #2d2d2d;
    color: white;
    padding: 10px;
    border: none;
    resize: none; /* 텍스트 영역 크기 조정 비활성화 */
}

/* 문제 내비게이션 컨테이너 */
#problem-navigation-container {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    padding: 10px 0;
}

/* 문제 내비게이션 아이콘 스타일 */
#problem-navigation {
    display: flex;
    gap: 10px; /* 아이콘 간의 간격 */
}

.problem-icon {
    cursor: pointer;
    font-size: 24px;
}

.problem-icon:hover {
    opacity: 0.8; /* 호버 시 불투명도 조정 */
}

/* 문제 내비게이션 이전/다음 버튼 */
#prev-problem, #next-problem {
    cursor: pointer;
    font-size: 24px;
    padding: 0 10px; /* 좌우 여백 */
}

/* 문제 제목 스타일 */
#problem-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* 구분선 */
.divider {
    width: 5px;
    cursor: col-resize;
    background-color: #ddd; /* 구분선 색상 */
}

/* 출력 영역 스타일 */
pre#output {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    overflow-y: auto; /* 세로 스크롤 허용 */
    flex: 0 0 30%; /* 크기 고정 */
}

/* IDE 컨트롤 패널 */
.ide-controls {
    padding: 10px;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* 트랙 배경색 */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* 호버 시 스크롤바 색상 */
}

/* 메뉴 토글 아이콘과 메뉴명 사이의 여백 추가 */
.menu-item i {
    margin-right: 8px; /* 아이콘과 텍스트 사이의 여백 */
}
