/* test_problem.css */

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

#problem-navigation-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #ddd;
}

#problem-navigation {
    display: flex;
    gap: 10px;
}

.problem-icon {
    cursor: pointer;
    font-size: 24px;
}

#prev-problem, #next-problem {
    cursor: pointer;
    font-size: 24px;
}

#problem-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

#problem-container {
    flex: 1;
    width: 100%;
    overflow-y: hidden;
    line-height: 1.6;
    color: #333;
}

#iframeContent {
    width: 100%;
    height: 100%;
    border: none;
    padding: 5% 5% 0 5%; /* 상, 좌, 우에 5% 패딩 적용 */
    box-sizing: border-box; /* 패딩을 포함한 전체 크기 유지 */
}
#problem-container img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#problem-container p, #problem-container li {
    font-size: 1em;
}

#problem-container h1, #problem-container h2, #problem-container h3 {
    font-size: 1.2em;
}

/* 스크롤바 스타일 유지 */
#iframeContent::-webkit-scrollbar {
    width: 10px;
}

#iframeContent::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#iframeContent::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#iframeContent::-webkit-scrollbar-thumb:hover {
    background: #555;
}